html, body, p, h2 {
    margin:0;
    padding:0;
}

input[type=number]{
    border-radius: 2px;
    border: 1px solid #666666;
    line-height: 28px;
    text-align: right;
    width: 80px;
}

#up_file_input::-webkit-file-upload-button {
  border-radius: 2px;
  line-height: 28px;
  border: 1px solid #666666;
}

input[type=email]{
    border-radius: 2px;
    border: 1px solid #666666;
    line-height: 28px;
    margin: 10px;
}



#topbar{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
    max-width: 1000px;
    height: 60px;
    z-index: 10001;
}

#logoimg{
    display: flex;
    height: 100%;
    width: 20%
}

#logoimg img{
    margin-top: 15px;
}

#navigator {
    display: flex;
    justify-content: flex-end;
    color:#333333;
    height: 100%;
    width: 80%;
    min-width:700px;
}

#navigator ul{
    list-style:none;
    display:block;
    text-align:center;
}
#navigator li{
    display:inline;
    margin-left:2.5em;
    margin-right:2.5em;
}
#navigator li a{
    text-decoration:none;
    font-family:sans-serif;
    color:black;
    font-size:22px;
    letter-spacing:0.1em;
    display:inline-block;
}

#content{
    width: 100%;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size:14px;
}

.centered_content{
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    min-width: 800px;    
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    vertical-align: middle;
    line-height: 20px;
    border 1px red solid;
}

#presentation{
    /*background: url('pics/presentation_bg.jpg');*/
    background: #99ccff;
    height: 220px;
    text-align:center;
    line-height: 220px;
}

#presentation h1{
    color: black;
    font-weight: bold;
    font-size: 16px;
}

#presentation p{
    display: inline;
    color: #333333;
}

#webservice{
    margin-top: 10px;
    text-align:center;
}

#webservice h3{ 
    font-family: sans-serif;
    padding-left: 30px;
    border-left: solid 4px #dddddd;
    color: #888888;
}

#webservice legend{
    display: block;
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666666;
}

#webservice fieldset{
    padding:5px;
    padding-left: 25px;
    margin-top:10px;
    margin-bottom: 20px;
    border-width: 0px;
}

#webservice .ilabel{
    padding-right: 25px;
    font-size: 12px;
}

.console {
    background: black;
    color: #cccccc;
    font-family: 'Mono';
    font-weight: bold;
    border: 2px inset #888888;
    padding: 10px;
}

.inptable td{
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;

}
.inptable input[type="number"]{
    width:150px;
    text-align: right;
}

.inptable input[type="text"]{
    width:100%;
    }

#btn_submit {
    border-radius: 2px;
    border: 1px solid #666666;
    line-height: 28px;
    margin: 10px;
    font-weight: bold;
    display: inline-block;
    }

#status
{
    display: inline-block;
}

.errormsg{
    color: white;
    font-weight: bold;
    background: #e63900;
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
}

.successmsg{
    color: white;
    font-weight: bold;
    background: #009933;
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
}

.warningmsg{
    color: white;
    font-weight: bold;
    background: #e6ac00;
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
}

.darkmsg{
    color: whitesmoke;
    font-weight: bold;
    background: #272822;
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
}

.errorlog{
    background: whitesmoke;
    color: #4d1300;
    font-family: "Lucida Console", Monaco, monospace;
    border: 1px solid #e63900;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 4px;
}

/*----------------------------------------------------------------------*/

#content_box {
    margin-left:auto;
    margin-right:auto;
    width:1024px;
}
#footer {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    line-height: 20px;
    color:#ADADAD;
    text-align:center;
    height: 20px;
    font-size:12px;
    padding-bottom:10px;
}

#logoimgdiv {
    background-image: url("spectrus_thin_bg.png");
    background-repeat: repeat-x;
}

#inputdiv{
    border: solid 1px grey;
    margin:20px;
    margin-left: auto;
    margin-right: auto;
    padding:40px;

    max-width:600px;
}

.midhr{
    margin:10px;
    border: 0;
    height: 1px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.endhr{
    margin-top:40px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#graphs_container{
}

.figures_container{
    display: table;
    table-layout: fixed;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 10px;
}

#quality_score{
    display: table-cell;
    width:30%;
    vertical-align: middle; 

}

#graph_subdivisions{
    display: table-cell;
    width:30%;
    vertical-align: middle; 
}
#graph_subdivisions img{width: 100%;}

#jm_container{
    display:table-cell;
    width:30%;
    vertical-align: middle;
}
#appdiv {
    border: solid 1px black;
    margin: 10px;
    border-radius: 2px;
    } 

#logdiv, #errdiv{
    display:block;
    margin:20px;
    padding: 20px;
    font-family: "Courier New";
    width: 100%;
    height: 150px;
}

a, a.visited{
    color:#1F1F1F;
}

.progress_icon{
    height:16px;
    margin-right: 16px;
}

#statusp{
    font-family: "Lucida Console", Monaco, monospace;
}
.inptable .radiotd{
    padding:0;
    margin:0;
 }

 .tooltip {
    display:none;
    position:absolute;
    border:1px solid grey;
    background-color:#fff;
    border-radius:2px;
    padding:10px;
    color:#3B3B3B;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size:12px;
    max-width: 350px;
}
 
code {
    text-align:left;
    hypens:none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

.my-qtip{
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size:14px;
}

